<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(var.SolutionDir)EliteTraderInternalSetup\Includes\Defines.wxi ?>
	<Bundle Name="Elite Trader" Version="$(var.VersionNumber)" Manufacturer="iNMazer" UpgradeCode="5c774abe-e6e8-4ce1-a17e-9556e18c3c6d" IconSourceFile="$(var.SolutionDir)\EliteTrader\Icons\elitetrader_icon.ico" DisableModify="yes" DisableRepair="yes" Compressed="yes">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" />
    </BootstrapperApplicationRef>

    <WixVariable Id="WixStdbaLogo" Value="$(var.SolutionDir)\EliteTrader\Icons\install_image.png" />
    <Chain>

      <PackageGroupRef Id="NetFx45Web"/>
      <RollbackBoundary />
      <PackageGroupRef Id="redist"/>
      <PackageGroupRef Id="redist64"/>
      <RollbackBoundary />
      
      <MsiPackage SourceFile="$(var.SolutionDir)EliteTraderInternalSetup\bin\Release\EliteTraderInternalSetup.msi">
        <MsiProperty Name="INSTALLFOLDER" Value="[INSTALLDIR]" />
      </MsiPackage>

    </Chain>
	</Bundle>

  <Fragment>
    <PackageGroup Id="redist64_vc110">
      <ExePackage Id="vc11064" Cache="yes" PerMachine="yes" Permanent="yes" Vital="yes" Compressed="yes"
                  SourceFile="$(var.SolutionDir)EliteTraderSetup\VCDist\vcredist_x64.exe"
                  Name="redist\vc110\vcredist_x64.exe"
                  InstallCommand="/quiet /norestart"
                  InstallCondition="VersionNT64"
                  Protocol="burn"
                  />
    </PackageGroup>
    <PackageGroup Id="redist_vc110">
      <ExePackage Id="vc110" Cache="yes" PerMachine="yes" Permanent="yes" Vital="yes" Compressed="yes"
                  SourceFile="$(var.SolutionDir)EliteTraderSetup\VCDist\vcredist_x86.exe"
                  Name="redist\vc110\vcredist_x86.exe"
                  InstallCommand="/quiet /norestart"
                  InstallCondition="NOT VersionNT64"
                  Protocol="burn"
                  />
    </PackageGroup>
  </Fragment>

  <Fragment>
    <PackageGroup Id="redist">
      <PackageGroupRef Id="redist_vc110"/>
    </PackageGroup>
    <PackageGroup Id="redist64">
      <PackageGroupRef Id="redist64_vc110"/>
    </PackageGroup>
  </Fragment>
</Wix>
